# Scraping
requests
beautifulsoup4
pdfplumber
pypdf
PyMuPDF

# Preprocessing
pyarabic
python-dotenv

# RAG: Embeddings / Vector DB / LLM (Ollama)
ollama
chromadb
sentence-transformers


# Fine-tuning
unsloth
peft
transformers
datasets

# App / API
streamlit
fastapi
uvicorn

# Evaluation
pandas
scikit-learn
